@{
    ViewData["Title"] = "About Page";
}
<link rel="stylesheet" href="~/css/about.css" />
<div class="about-section">
    <h1>About App</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<div class="about-section">
    <h1>About Us</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>



    <div class="card">
        <img src="~/img/omeraran.png" alt="OmerAran" style="width:20%">
        <div class="container">
            <h2>Ömer Aran</h2>
            <p class="title">Software Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
           <br />
            <p><button class="button">Contact</button></p>
        </div>
    </div>
